@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  @media (max-width: $breakpoint-phone) {
    margin-bottom: $footer-height * 2;
  }
}


.jumbotron.info {
  display: none;
}

.playtrack {
  display: inline;
  cursor: pointer;
  &.playing {
    font-weight: bold;
  }
}


.footer {
  background: lightgray;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/**
 The Audio element and controls
 **/

audio {
  display: none;
}

.player {

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  svg {

    &.player-btn-pause {
      display: none;
    }

    color: #333;

    &:hover {
      color: blue;
      cursor: pointer;
    }

    &.selected {
      color: blue;
    }

  }

  // scrubber
  input[type="range"] {
    height: 1em;
    -webkit-appearance: none;
    background-color: #343a40;
  }
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border:1px solid lightgray;
    background: #343a40;
  }
}

input, p {
  vertical-align: middle;
  margin: 0;
}
